body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  padding: 50px;
}
.content{
  margin: 10px 0;
}

.title{
  background-color: #00B7FF;
  padding: 10px 10px;
  font-size: 20px;
}
.title2{
  background-color: #00B7FF;
  text-decoration: line-through;
  padding: 10px 10px;
  font-size: 20px;
}
.message{
  background-color: #dcf4fd;
  padding: 10px 10px;
}
.message2{
  background-color: #dcf4fd;
  text-decoration: line-through;
  padding: 10px 10px;
}
.i_btn{
  float: right;
  margin: 1px;
}


@media (max-width: 320px) {
  .title_i {
    font-size: 200%;
  }
  .content_i {
    font-size: 200%;
  }
  .but {
    font-size: 200%;
  }
}
@media (max-width: 720px) {
  .title_i {
    font-size: 150%;
  }
  .content_i {
    font-size: 150%;
  }
  .but {
    font-size: 150%;
  }
}